.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: #2D2D2D;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.main-nav h1 {
    background: linear-gradient(45deg, #D593E7, #7176F6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
}

.main-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: aliceblue;
    font-weight: 500;
}